/*@import '../../.cache/hellwal/waybar-colors.css';*/
@import '../../.cache/wal/colors-waybar.css';

/* @define-color bg-color  @color7;
@define-color c1 	@color2;
@define-color c2 	@color6;
*/

@define-color bg-color @color5;
@define-color c1 @color0;
@define-color c2 @color0;
@define-color c3 @color1;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: alpha(@c2, 0.99);
    border-radius: 5px;
}

#workspaces button {
    min-width: 11px;
    min-height: 11px;
    border-radius: 5px;
    background: @bg-color;
    transition: min-width 0.3s ease;
    margin: 7px 5px;
    color: @c1;
    padding-right: 9px;
}

#workspaces button.active {
    min-width: 30px;
    background: @c3;
    color: @c1;
}

#custom-active_workspace {
    background-color: @bg-color;
    color: @c1;
    padding: 5px 10px;
    border-radius:5px;

    padding: 0 10px;
    margin: 6px 0;
    color: @c1;
    border-radius: 5px;
}


#custom-active_toplevel {
    background-color: @bg-color;
    padding: 0 10px;
    margin: 6px 0;
    color: @c1;
    border-radius: 5px;
}

#custom-spotify,
#custom-wallpaper,
#custom-lightmode,
#custom-power,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
    padding: 0 10px;
    margin: 6px 0;
    color: @c1;
    border-radius: 5px;
}

#custom-spotify{
	padding-right: 13px;
}

#custom-lightmode{
    background-color: @bg-color;
}

#clock {
    background-color: @bg-color;
    margin-left: 10px;
}

#network{
    background-color: @bg-color;
}

#battery {
    background-color: @bg-color;
    margin-right: 10px;
}

#battery.charging {
    background-color: #CB841D;
}

#cpu {
    background-color: @bg-color;
}

#memory {
    background-color: @bg-color;
}

#temperature {
    background-color: @bg-color;
}

#temperature.critical {
    background-color: #CA99A7;
}

#pulseaudio {
    background-color: @bg-color;
}

#custom-wallpaper{
    background-color: @bg-color;
    padding-right: 12px;
}
#custom-power{
    background-color: @bg-color;
    margin-right: 10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right: 12px;
}
